.timer{
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.digits{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
  color:  #b1b0b0;
}

.mili-sec{
  font-size: 3rem;
  color:  #e42a2a;
}